JSON Reference is incorrectly mentioned in Section 3

```
   If the URI contained in the JSON Reference value is a relative URI,
   then the base URI resolution MUST be calculated according to
   [RFC3986], Section 5.2.  Resolution is performed relative to the
   referring document.
```

Is this by mistake?

Yes! That was a poor copy and paste. :-O